# compiled output
node_modules
/dist
/test/coverage
/test/browser/results

# test reports
/test/test-reports

# local env files
.env.local
.env.*.local

# Log files
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# OS
.DS_Store

# Editor directories and files
.idea
.vscode
.sisyphus
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
